CHROME_PUBLIC_KEY=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAvPFgrghAOnN6g1fya9CTAxS6KT6rYS3ySukjRV3lP5pQXA8uV9Vn1zHsKTKQB68pffV2ruvcidbFZ5AvBAbKgxsm/qHHydIrIvoLBc2yGey3ZdtEpIlkILpzIjOPjjeJwL1ys7jaSQDyEvOaf2ChNT4ilG6UWswc6FlXQjMbL+w6ySiO/TBwztLDqSNhmvCX8M9zXIQvXWnUD4fLEL45eH4PZeY49sRDls4ZxldVWIstIUf2THurpVQ28v4048k8KlLjcPkKg98x5axxi/kOMhtgprf1MLqlN0w5bCsScmS5fcQpSewSBFqFuKCNSnD4b+UuW0SguVTC8UQ1nJJiTwIDAQAB
FIREFOX_EXTENSION_ID=leetcode-enhancer@sbrjt
